

.ramirez{
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 20px;
   color: skyblue;
   font-size: 25px;
   font-family: 'Courier New', Courier, monospace;
   text-align: justify;
}

.paola{
    text-align: center;
    color:plum;
    margin-top: 35px;
}

.andrea{
    margin-top: 25px;
    margin-left: 60px;
    display: block;
}


.card-text{
    color: lightsteelblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.card-img-top{
    width: 00px;
    height: 50%;
}


    



